@CHARSET "UTF-8";

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 3px;
}

.purchaseColumn1 {
    width: 80px;
    float: left;
}

.purchaseColumn2 select {
    width: 150px;
}

.purchaseColumn2 input {
    width: 146px;
}
